.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 20rem;
    margin: .2rem;
    margin-top: 8rem;
    border-radius: 2rem;
}

.pokemon-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: .4rem;
    margin-top: -10rem;
}

.pokemon-info img {
    width: 250px;
}

.pokemon-info span {
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.pokemon-info h2 {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

.types {
    display: flex;
    justify-content: center;
    align-items: center;
}

.types span {
    color: #fff;
    margin: .4rem;
    font-size: 1rem;
    padding: .2rem 1.5rem;
    border-radius: .4rem;
    text-transform: capitalize;
}

.body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    margin: .2rem;
    padding: .2rem;
    border-radius: .4rem;
    color: #fff;
}

.body div span {
    margin-right: .5rem;
}

.bug {
    background: #7bcf00;
    background-image: url(../../assets/iconTypes/bug.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.dark {
    background: #5a566a;
    background-image: url(../../assets/iconTypes/dark.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.dragon {
    background: #0076ff;
    background-image: url(../../assets/iconTypes/dragon.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.electric {
    background: #ffde00;
    background-image: url(../../assets/iconTypes/electric.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.fairy {
    background: #ff76ff;
    background-image: url(../../assets/iconTypes/fairy.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.fighting {
    background: #ff215b;
    background-image: url(../../assets/iconTypes/fighting.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.fire {
    background: #ff9900;
    background-image: url(../../assets/iconTypes/fire.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.flying {
    background: #89bdff;
    background-image: url(../../assets/iconTypes/flying.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.ghost {
    background: #4e6aff;
    background-image: url(../../assets/iconTypes/ghost.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.grass {
    background: #1cd80e;
    background-image: url(../../assets/iconTypes/grass.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.ground {
    background: #ff6b0d;
    background-image: url(../../assets/iconTypes/ground.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.ice {
    background: #2ee4c6;
    background-image: url(../../assets/iconTypes/ice.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.normal {
    background: #9fa39d;
    background-image: url(../../assets/iconTypes/normal.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.poison {
    background: #f149ff;
    background-image: url(../../assets/iconTypes/poison.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.psychic {
    background: #ff6c64;
    background-image: url(../../assets/iconTypes/psychic.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.rock {
    background: #d8bc5a;
    background-image: url(../../assets/iconTypes/rock.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.steel {
    background: #23a1bd;
    background-image: url(../../assets/iconTypes/steel.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.water {
    background: #14a8ff;
    background-image: url(../../assets/iconTypes/water.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.btn {
    cursor: pointer;
    height: 3.5rem;
    width: 100%;
    outline: none;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    color: #fff;
    transition: .2s;
    background-image: none;
    border-radius: 0 0 2rem 2rem;
    text-shadow: 1px 1px 5px #000;
}

.cardbug {
    background: #7bcf00;
    background: radial-gradient(circle, #7bcf00 -90%, #1b1b1b 55%);
}

.carddark {
    background: #5a566a;
    background: radial-gradient(circle, #5a566a -90%, #1b1b1b 55%);
}

.carddragon {
    background: #0076ff;
    background: radial-gradient(circle, #0076ff -90%, #1b1b1b 55%);
}

.cardelectric {
    background: #ffde00;
    background: radial-gradient(circle, #ffde00 -90%, #1b1b1b 55%);
}

.cardfairy {
    background: #ff76ff;
    background: radial-gradient(circle, #ff76ff -90%, #1b1b1b 55%);
}

.cardfighting {
    background: #ff215b;
    background: radial-gradient(circle, #ff215b -90%, #1b1b1b 55%);
}

.cardfire {
    background: #ff9900;
    background: radial-gradient(circle, #ff9900 -90%, #1b1b1b 55%);
}

.cardflying {
    background: #89bdff;
    background: radial-gradient(circle, #89bdff -90%, #1b1b1b 55%);
}

.cardghost {
    background: #4e6aff;
    background: radial-gradient(circle, #4e6aff -90%, #1b1b1b 55%);
}

.cardgrass {
    background: #1cd80e;
    background: radial-gradient(circle, #1cd80e -90%, #1b1b1b 55%);
}

.cardground {
    background: #ff6b0d;
    background: radial-gradient(circle, #ff6b0d -90%, #1b1b1b 55%);
}

.cardice {
    background: #2ee4c6;
    background: radial-gradient(circle, #2ee4c6 -90%, #1b1b1b 55%);
}

.cardnormal {
    background: #9fa39d;
    background: radial-gradient(circle, #9fa39d -90%, #1b1b1b 55%);
}

.cardpoison {
    background: #f149ff;
    background: radial-gradient(circle, #f149ff -90%, #1b1b1b 55%);
}

.cardpsychic {
    background: #ff6c64;
    background: radial-gradient(circle, #ff6c64 -90%, #1b1b1b 55%);
}

.cardrock {
    background: #d8bc5a;
    background: radial-gradient(circle, #d8bc5a -90%, #1b1b1b 55%);
}

.cardsteel {
    background: #23a1bd;
    background: radial-gradient(circle, #23a1bd -90%, #1b1b1b 55%);
}

.cardwater {
    background: #14a8ff;
    background: radial-gradient(circle, #14a8ff -90%, #1b1b1b 55%);
}