.search-container {
    width: 98%;
    border-radius: .4rem;
    margin-bottom: 2rem;
}

.search-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    height: 5rem;
    width: 100%;
    border-radius: .4rem;
    margin-bottom: .4rem;
    background: #000;
}

.search-header form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.search-header input {
    text-align: center;
    border: none;
    outline: none;
    height: 2.3rem;
    border-radius: .4rem;
}

.search-header button {
    cursor: pointer;
    border: none;
    outline: none;
    height: 2.3rem;
    border-radius: .4rem;
    margin-left: .4rem;
    width: 5rem;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    background: #051d48;
}

.search-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 29rem;
    border-radius: .4rem;
}

.search-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 25rem;
    width: 15rem;
}

.search-info h1 {
    color: #fff;
    text-align: start;
    text-transform: capitalize;
    text-shadow: 1px 1px 5px #000;
}

.search-info span:nth-child(1) {
    margin: 0;
    padding: 0;
    opacity: .1;
    width: auto;
    color: #fff;
    font-size: 9rem;
    font-weight: bold;
    text-align: start;
}

.search-info span {
    color: #fff;
    margin: .4rem;
    text-align: center;
    width: auto;
    font-weight: bold;
    font-size: 1rem;
    padding: .2rem 1.5rem;
    border-radius: .4rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 5px #000;
}

.search-image {
    width: 29rem;
    margin-top: -3rem;
}

.search-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem rgb(57, 55, 56));
}

.search-btn {
    cursor: pointer;
    height: 3.5rem;
    margin-top: 2rem;
    width: 100%;
    outline: none;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    color: #fff;
    transition: .2s;
    background-image: none;
    border-radius: 2rem;
    text-shadow: 1px 1px 5px #000;
}

.search-first {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
    height: 5rem;
    width: 100%;
    border-radius: .4rem;
    margin-bottom: .4rem;
    background: #ff7700;
}