.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 10rem;
    color: #fff;
    border-top: 1px solid #444;
}

.footer p {
    margin-top: .4rem;
}

.footer p a {
    color: #fff;
    transition: .2s;
    font-weight: bold;
    text-decoration: none;
}

.footer p a:hover {
    color: #fb1;
}

.social-icons ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-icons li {
    margin: 0 1rem;
}

.social-icons svg {
    cursor: pointer;
    font-size: 1.5em;
    transition: .2s;
    color: #fff;
}

.social-icons svg:hover {
    transform: scale(120%);
}